<div ng-controller="DeveloperGuideCtrl" class="row">

	<!-- BEGIN - LEFT SIDEBAR: REFERENCES MENU -->
	<div class="large-3 medium-4 columns">
		<div class="hide-for-small">
			<div class="sidebar">
				<h6>Guia do Desenvolvedor</h6>
				<nav>
					<ul class="side-nav">
						<li><a href="#/developer-guide/auth">Autenticação</a></li>
						<li class="active"><a href="#/developer-guide/login">Login</a></li>
						<li><a href="#/developer-guide/checkout">Fluxo de compra</a></li>
						<li><a href="#/developer-guide/filters">Filtros</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- END - LEFT SIDEBAR: REFERENCES MENU -->

	<!-- BEGIN - CONTENT -->
	<div class="large-9 medium-8 columns">
		<h1>Login</h1>

		<h4 class="subheader">O sistema de login da Ingresse é uma forma rápida e segura de os usuário garantirem acesso a seus dados e compras.</h4>

		<p>O fluxo de login do usuário envolve 3 etapas: a solicitação de autorização pelo seu site ou aplicativo, a identificação do usuário em nossa tela de login ou criação de conta e o retorno para o seu site.</p>

		<p class="pimg"><img src="https://docs.google.com/drawings/d/1R88QvbkE2Q3qN7EBvdjg5uD_Pmcb_doDMfYGKBiTyzw/pub?w=728&amp;h=200" /></p>

		<h2>Solicitando o usertoken</h2>

		<p>Para solicitar o usertoken faça uma requisição usando o método <kbd>/authorize</kbd>. Essa requisição irá retornar a página HTML de login de usuário da Ingresse. Através dessa página o usuário irá informar seu email e senha autorizando que o respectivo aplicativo acesse seus dados da Ingresse.</p>

		<p class="pimg"><img ng-src="{{appUrl}}img/login-screen.png" /></p>

		<p>Por padrão, o retorno desse login é um JSON com a seguinte estrutura:</p>

<p><pre class="prettyprint">
{
    token: value,
    userId: value
}
</pre></p>

		<p>Porém, na requisição do método <kbd>/authorize</kbd> você pode enviar também via GET o parâmetro <kbd>returnurl</kbd> com a URL de retorno no sucesso do login. Dessa forma, no sucesso do login a API irá redirecionar o resultado para a URL em <kbd>returnurl</kbd> enviando via GET as mesmas informações acima: token e userId. Exemplo:</p>

		<p>Para retornar automaticamente para a url "http://www.meusite.com.br/meu-evento/pagamento", seria realizada a requisição: <kbd>https://api.ingresse.com.br/authorize?returnurl=http%3A%2F%2Fwww.meusite.com.br%2Fmeu-evento%2Fpagamento</kbd></p>

		<section class="disqus-block">
			<div disqus="disqusIdentifier"></div>
		</section>
	</div>
	<!-- END - CONTENT -->
</div>