<div ng-controller="ReferencesCtrl" class="row">

		<!-- BEGIN - LEFT SIDEBAR: REFERENCES MENU -->
		<div class="large-3 medium-4 columns">
			<div>
				<div class="sidebar">
					<h6>Referências</h6>
					<nav ng-controller="ReferencesMenuCtrl">
						<ul class="side-nav">
							<li ng-repeat="reference in references | orderBy:'name':false">
								<a ng-click="setItem(reference.id)">{{reference.name}}</a>
								<ul>
									<li class="reference-link" ng-repeat="method in reference.methods | orderBy:'name':false">
										<a ng-click="setItem(reference.id, method.id)">{{method.name}}</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- END - LEFT SIDEBAR: REFERENCES MENU -->

		<!-- BEGIN - CONTENT -->
		<div class="ref-article columns large-9">

			<any ng-switch="referenceTemplate">

				<!-- THERE IS NO SELECTED METHOD -->
				<article ng-switch-when="null">
					<header>
						<h1>References</h1>
						<h4 class="subheader">Aqui você irá encontrar o que é necessário para entender como integrar a sua aplicação ou site, com o sistema Ingresse.</h4>
					</header>
					<section>
						<p>Caso tenha dúvidas sobre como conseguir uma chave de desenvolvedor ou como começar a utilizar a API, dê uma olhada em nosso <a href="#/developer-guide">guia para desenvolvedores</a> explicando como a API funciona em vários aspectos.</p>
					</section>
				</article>

				<!-- FOR A SELECTED ENTITY -->
				<article ng-switch-when="category">
					<header>
						<h1>{{category.title}}</h1>
						<h4 class="subheader">{{category.description}}</h4>
					</header>
					<section>
						<h2>Objeto</h2>
						<pre class="prettyprint" ng-bind="category.entity | json"></pre>
					</section>
					<section>
						<h2>Métodos</h2>
						<ul>
							<li ng-repeat="method in category.methods | orderBy:'name':false">
								<a ng-click="setItem(category.id, method.id)">{{method.name}}</a>
							</li>
						</ul>
					</section>
				</article>

				<!-- FOR A SELECTED METHOD -->
				<article ng-switch-when="method">
					<any ng-repeat="method in category.methods | filter:{id: methodId}">
						<header>
							<h1>{{method.name}}</h1>
							<span>{{method.type}} - {{url}}{{method.url}}</span>
							<h4 class="subheader">{{method.action}}</h4>
							<a href="#/developer-guide/auth"><span ng-show="method.private" class="orange radius label">Método fechado</span></a>
						</header>
						<h2>Parâmetros</h2>
						<table>
							<tr>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Valor padrão</th>
								<th>Descrição</th>
								<th>Exemplo</th>
							</tr>
							<tr ng-repeat="param in method.params">
								<td>{{param.name}}</td>
								<td>{{param.type}}</td>
								<td>{{param.default}}</td>
								<td>{{param.description}}</td>
								<td>{{param.example}}</td>
							</tr>
						</table>
						<h2>Resposta da chamada</h2>
						<pre class="prettyprint" ng-bind="method.answer | json"></pre>
						<h2>Exemplos de uso</h2>
						<p ng-repeat="example in method.examples">
							<kbd>{{example.request}}</kbd><br>
							{{example.description}}
						</p>
					</any>
				</article>

				<section class="disqus-block">
					<div disqus="disqusIdentifier"></div>
				</section>
			</any>
		</div>
		<!-- END - CONTENT -->
	</div>
