@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body {
	font-family: 'Lato', sans-serif;
	color: #333;
}

/*===============================
=            Buttons            =
===============================*/

button,
.button {
	font-family: 'Lato', sans-serif;
	border-color: #dadada;
	background-color: #e7e7e7;
	color: #333;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: #dadada;
    color: #333;
}

button.blue,
.button.blue,
button.blue:hover,
button.blue:focus,
.button.blue:hover,
.button.blue:focus,
button.darkgrey,
.button.darkgrey,
button.darkgrey:hover,
button.darkgrey:focus,
.button.darkgrey:hover,
.button.darkgrey:focus,
button.green,
.button.green,
button.green:hover,
button.green:focus,
.button.green:hover,
.button.green:focus,
button.orange,
.button.orange,
button.orange:hover,
button.orange:focus,
.button.orange:hover,
.button.orange:focus,
button.red,
.button.red,
button.red:hover,
button.red:focus,
.button.red:hover,
.button.red:focus,
button.yellow,
.button.yellow,
button.yellow:hover,
button.yellow:focus,
.button.yellow:hover,
.button.yellow:focus {
    color: #fff;
}

button.blue,
.button.blue {
	border-color: #259ee6;
	background-color: #3ca8e9;
}

button.blue:hover,
button.blue:focus,
.button.blue:hover,
.button.blue:focus {
    background-color: #259ee6;
}

button.darkgrey,
.button.darkgrey {
	border-color: #404040;
	background-color: #4d4d4d;
}

button.darkgrey:hover,
button.darkgrey:focus,
.button.darkgrey:hover,
.button.darkgrey:focus {
    background-color: #404040;
}

button.green,
.button.green {
	border-color: #518f1f;
	background-color: #5da423;
}

button.green:hover,
button.green:focus,
.button.green:hover,
.button.green:focus {
    background-color: #518f1f;
}

button.orange,
.button.orange {
	border-color: #e68700;
	background-color: #ff9600;
}

button.orange:hover,
button.orange:focus,
.button.orange:hover,
.button.orange:focus {
    background-color: #e68700;
}

button.red,
.button.red {
	border-color: #e43725;
	background-color: #e74c3c;
}

button.red:hover,
button.red:focus,
.button.red:hover,
.button.red:focus {
    background-color: #e43725;
}

button.yellow,
.button.yellow {
	border-color: #dab10d;
	background-color: #f1c40f;
}

button.yellow:hover,
button.yellow:focus,
.button.yellow:hover,
.button.yellow:focus {
    background-color: #dab10d;
}

/*==========  Disabled Buttons  ==========*/

button.disabled,
button[disabled],
.button.disabled,
.button[disabled] {
    background-color: #e7e7e7;
    border-color: #dadada;
    color: #333;
    cursor: default;
    opacity: 0.7;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
	color: #333;
	background-color: #e7e7e7;
}

button.blue.disabled,
button.blue[disabled],
.button.blue.disabled,
.button.blue[disabled],
button.darkgrey.disabled,
button.darkgrey[disabled],
.button.darkgrey.disabled,
.button.darkgrey[disabled],
button.green.disabled,
button.green[disabled],
.button.green.disabled,
.button.green[disabled],
button.orange.disabled,
button.orange[disabled],
.button.orange.disabled,
.button.orange[disabled],
button.red.disabled,
button.red[disabled],
.button.red.disabled,
.button.red[disabled],
button.yellow.disabled,
button.yellow[disabled],
.button.yellow.disabled,
.button.yellow[disabled] {
    color: #fff;
    cursor: default;
    opacity: 0.7;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.blue.disabled,
button.blue[disabled],
.button.blue.disabled,
.button.blue[disabled] {
	background-color: #3ca8e9;
    border-color: #259ee6;
}

button.darkgrey.disabled,
button.darkgrey[disabled],
.button.darkgrey.disabled,
.button.darkgrey[disabled] {
	background-color: #4d4d4d;
    border-color: #404040;
}

button.green.disabled,
button.green[disabled],
.button.green.disabled,
.button.green[disabled] {
	background-color: #5da423;
    border-color: #518f1f;
}

button.orange.disabled,
button.orange[disabled],
.button.orange.disabled,
.button.orange[disabled] {
	background-color: #ff9600;
    border-color: #e68700;
}

button.red.disabled,
button.red[disabled],
.button.red.disabled,
.button.red[disabled] {
	background-color: #e74c3c;
    border-color: #e43725;
}

button.yellow.disabled,
button.yellow[disabled],
.button.yellow.disabled,
.button.yellow[disabled] {
	background-color: #f1c40f;
    border-color: #dab10d;
}

button.blue.disabled:hover,
button.blue.disabled:focus,
button.blue[disabled]:hover,
button.blue[disabled]:focus,
.button.blue.disabled:hover,
.button.blue.disabled:focus,
.button.blue[disabled]:hover,
.button.blue[disabled]:focus,
button.darkgrey.disabled:hover,
button.darkgrey.disabled:focus,
button.darkgrey[disabled]:hover,
button.darkgrey[disabled]:focus,
.button.darkgrey.disabled:hover,
.button.darkgrey.disabled:focus,
.button.darkgrey[disabled]:hover,
.button.darkgrey[disabled]:focus,
button.green.disabled:hover,
button.green.disabled:focus,
button.green[disabled]:hover,
button.green[disabled]:focus,
.button.green.disabled:hover,
.button.green.disabled:focus,
.button.green[disabled]:hover,
.button.green[disabled]:focus,
button.orange.disabled:hover,
button.orange.disabled:focus,
button.orange[disabled]:hover,
button.orange[disabled]:focus,
.button.orange.disabled:hover,
.button.orange.disabled:focus,
.button.orange[disabled]:hover,
.button.orange[disabled]:focus,
button.red.disabled:hover,
button.red.disabled:focus,
button.red[disabled]:hover,
button.red[disabled]:focus,
.button.red.disabled:hover,
.button.red.disabled:focus,
.button.red[disabled]:hover,
.button.red[disabled]:focus,
button.yellow.disabled:hover,
button.yellow.disabled:focus,
button.yellow[disabled]:hover,
button.yellow[disabled]:focus,
.button.yellow.disabled:hover,
.button.yellow.disabled:focus,
.button.yellow[disabled]:hover,
.button.yellow[disabled]:focus {
	color: #fff;
}

button.blue.disabled:hover,
button.blue.disabled:focus,
button.blue[disabled]:hover,
button.blue[disabled]:focus {
	background-color: #3ca8e9;
}

button.darkgrey.disabled:hover,
button.darkgrey.disabled:focus,
button.darkgrey[disabled]:hover,
button.darkgrey[disabled]:focus {
	background-color: #4d4d4d;
}

button.green.disabled:hover,
button.green.disabled:focus,
button.green[disabled]:hover,
button.green[disabled]:focus {
	background-color: #5da423;
}

button.orange.disabled:hover,
button.orange.disabled:focus,
button.orange[disabled]:hover,
button.orange[disabled]:focus {
	background-color: #ff9600;
}

button.red.disabled:hover,
button.red.disabled:focus,
button.red[disabled]:hover,
button.red[disabled]:focus {
	background-color: #e74c3c;
}

button.yellow.disabled:hover,
button.yellow.disabled:focus,
button.yellow[disabled]:hover,
button.yellow[disabled]:focus {
	background-color: #f1c40f;
}

/*==========  Split Buttons  ==========*/

.split.button span:before {
    border-color: #333 transparent transparent transparent;
}

.split.button.blue span:before,
.split.button.darkgrey span:before,
.split.button.green span:before,
.split.button.orange span:before,
.split.button.red span:before,
.split.button.yellow span:before {
    border-color: white transparent transparent transparent;
}

/*==========  Dropdown Buttons  ==========*/

.dropdown.button:before {
    border-color: #333 transparent transparent transparent;
}

.dropdown.button.blue:before,
.dropdown.button.darkgrey:before,
.dropdown.button.green:before,
.dropdown.button.orange:before,
.dropdown.button.red:before,
.dropdown.button.yellow:before {
    border-color: white transparent transparent transparent;
}

/*-----  End of Buttons  ------*/

/*=====================================
=            Progress Bars            =
=====================================*/

.progress {
  background-color: #fafafa;
  border: 1px solid #e7e7e7;}

.progress .meter, .progress .blue {
	background: #3ca8e9;
}

.progress .darkgrey .meter {
	background: #5da423;
}

.progress.succes .meter, .progress.green .meter {
	background: #5da423;
}

.progress.secondary .meter, .progress.orange .meter {
    background: #ff9600;
}

.progress.alert .meter, .progress.red .meter {
    background: #e74c3c;
}

.progress .yellow .meter {
	background: #f1c40f;
}

/*-----  End of Progress Bars  ------*/



/*==============================
=            Panels            =
==============================*/

.panel {
	background: #fff;
}

.panel.callout {
	background: #EDF7FD;
	border-color: #A3D6F5;
}

.panel.callout a {
    color: none;
}

/*-----  End of Panels  ------*/

/*===============================
=            Top Bar            =
===============================*/

.top-bar,
.top-bar.expanded .title-area,
.top-bar-section ul,
.top-bar-section ul li > a {
	background: #4d4d4d;
}

.top-bar.light,
.top-bar.light.expanded .title-area,
.light .top-bar-section ul,
.light .top-bar-section ul li > a {
	background: #fafafa;
	color: #94999c;
}

.top-bar.light {
	outline: 1px solid #e7e7e7;
}

.top-bar.light .name h1 a {
	color: #94999c;
}

.top-bar-section ul li:hover > a {
	background: #404040;
}

.light .top-bar-section ul li:hover > a {
	background: #e7e7e7;
}

.top-bar-section ul li > a.button {
	background-color: #e7e7e7;
	color: #333;
}
.top-bar-section ul li > a.button:hover {
    background-color: #dadada;
}

.top-bar-section ul li > a.button.blue,
.top-bar-section ul li > a.button.darkgrey,
.top-bar-section ul li > a.button.green,
.top-bar-section ul li > a.button.orange,
.top-bar-section ul li > a.button.red,
.top-bar-section ul li > a.button.yellow {
	color: #fff;
}

.top-bar-section ul li > a.button.blue {
	background: #3ca8e9;
}
.top-bar-section ul li > a.button.blue:hover {
	background: #259ee6;
}

.top-bar-section ul li > a.button.darkgrey {
	background: #4d4d4d;
}
.top-bar-section ul li > a.button.darkgrey:hover {
	background: #404040;
}

.top-bar-section ul li > a.button.green {
	background: #5da423;
}
.top-bar-section ul li > a.button.green:hover {
	background: #518f1f;
}

.top-bar-section ul li > a.button.orange {
	background: #ff9600;
}
.top-bar-section ul li > a.button.orange:hover {
	background: #e68700;
}

.top-bar-section ul li > a.button.red {
	background: #e74c3c;
}
.top-bar-section ul li > a.button.red:hover {
	background: #e43725;
}

.top-bar-section ul li > a.button.yellow {
	background: #f1c40f;
}
.top-bar-section ul li > a.button.yellow:hover {
	background: #dab10d;
}

.top-bar-section ul li.active > a {
    background: #404040;
    color: white;
}
.top-bar-section ul li.active > a:hover {
  	background: #404040;
}

.light .top-bar-section ul li.active > a {
    background: #e7e7e7;
    color: #94999c;
}
.light .top-bar-section ul li.active > a:hover {
  	background: #e7e7e7;
}

.top-bar form,
.top-bar input {
    margin-bottom: 0;
}

.top-bar input {
    height: auto;
    padding-top: .35rem;
    padding-bottom: .35rem;
    font-size: 0.75rem;
}

.top-bar input, .top-bar input:focus {
	background-color: #333;
    border-color: #000;
    color: #fafafa;
}

.top-bar.light input, .top-bar.light input:focus {
	background-color: #fafafa;
    border-color: #e7e7e7;
    color: #94999c;
}

.top-bar input:focus::-webkit-input-placeholder {
    color: #e5e5e5;
    -webkit-transition: color 300ms ease-out;
}

@media only screen and (min-width: 40.063em) {

.top-bar input,
.top-bar .button {
	font-size: 0.875rem;
	position: relative;
	top: 7px;
}

.top-bar,
.top-bar.expanded,
.top-bar-section .dropdown li a,
.top-bar-section .dropdown li label,
.top-bar-section .has-form {
    background: #4d4d4d;
}

.top-bar.light,
.top-bar.light.expanded,
.light .top-bar-section .dropdown li a,
.light .top-bar-section .dropdown li label,
.light .top-bar-section .has-form {
    background: #fafafa;
}

.light .top-bar-section .dropdown {
	outline: 1px solid #e7e7e7;
}

.top-bar-section li.hover > a:not(.button),
.top-bar-section li a:not(.button):hover,
.no-js .top-bar-section ul li:hover > a {
    background: #404040;
}

.light .top-bar-section li.hover > a:not(.button),
.light .top-bar-section li a:not(.button):hover,
.no-js .light .top-bar-section ul li:hover > a {
    background: #e7e7e7;
}

.top-bar-section li a:not(.button) {
	background: #4d4d4d;
}

.top-bar-section .has-dropdown > a:after {
    border-color: rgba(255, 255, 255, 0.6) transparent transparent transparent;
}

.light .top-bar-section .has-dropdown > a:after {
    border-color: #94999c transparent transparent transparent;
}

}

/*-----  End of Top Bar  ------*/

/*================================
=            Side Nav            =
================================*/

.side-nav, .side-nav li.active > a:first-child {
	font-family: 'Lato', sans-serif;
}

.side-nav.block {
	background: #fafafa;
	border: 1px solid #e7e7e7;
}

.side-nav.block li {
    padding: 0.188rem 1rem;
    margin: 0;
}

.side-nav.block li:hover {
	background: #e7e7e7;
}

.side-nav.block li.divider {
    border-top-color: #e7e7e7;
    padding: 0;
    margin: 0;
}

.side-nav.block li:hover.divider {
    background: none;
}

/*-----  End of Side Nav  ------*/

/*===============================
=            Sub Nav            =
===============================*/

.sub-nav li {
	font-family: 'Lato', sans-serif;
}

.sub-nav dt a:hover,
.sub-nav dd a:hover,
.sub-nav li a:hover{
    color: #259ee6;
}
.sub-nav dt.active a,
.sub-nav dd.active a,
.sub-nav li.active a {
	background: #3ca8e9;
}
.sub-nav dt.active a:hover,
.sub-nav dd.active a:hover,
.sub-nav li.active a:hover {
	background: #259ee6;
	color: #fff;
}

/*-----  End of Sub Nav  ------*/

/*===================================
=            Breadcrumbs            =
===================================*/

.breadcrumbs {
	background-color: #fafafa;
	border-color: #e7e7e7;
	border-radius: 0;
}

.breadcrumbs > * a,
.breadcrumbs > * span {
    color: #3ca8e9;
}

.breadcrumbs > *.current, .breadcrumbs > *.current a  {
	color: #333333;
}

.breadcrumbs.no-box {
	background: none;
	padding: 0.5625rem 0;
	border: 0;
}

/*-----  End of Breadcrumbs  ------*/

/*==================================
=            Pagination            =
==================================*/

@media only screen and (min-width: 40.063em) {

ul.pagination li.current a {
    background: #3ca8e9;
    border: 0;
}

ul.pagination li.current a:hover,
ul.pagination li.current a:focus {
	background: #3ca8e9;
	border: 0;
}

ul.pagination li a {
	-webkit-border-radius: 0;
	border-radius: 0;
}

ul.pagination.block li {
	margin-left: 0;
	border: 1px solid #e7e7e7;
	background: #fafafa;
}

}

/*-----  End of Pagination  ------*/

/*==================================
=            Typography            =
==================================*/

a {
	color: #3ca8e9;
}

a:hover, a:focus {
    color: #259ee6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	color: inherit;
}

code {
	color: #5aa500;
}

/*-----  End of Typography  ------*/

/*==============================
=            Labels            =
==============================*/

.label {
	font-family: 'Lato', sans-serif;
	background-color: #e7e7e7;
	color: #333;
}

.label.blue,
.label.darkgrey,
.label.green,
.label.orange,
.label.red,
.label.yellow {
	color: #fff;
}

.label.blue {
	background-color: #3ca8e9;
}

.label.darkgrey {
	background-color: #4d4d4d;
}

.label.green {
	background-color: #5da423;
}

.label.orange {
	background-color: #ff9600;
}

.label.red {
	background-color: #e74c3c;
}

.label.yellow {
	background-color: #f1c40f;
}

/*-----  End of Labels  ------*/

/*=============================
=            Forms            =
=============================*/

data-abide] .error small.error,
[data-abide] span.error,
[data-abide] small.error {
	background: #e74c3c;
}

span.error, small.error {
	background: #e74c3c;
}

.error label,
.error label.error {
 	color: #e74c3c;
}

.error small.error {
  background: #e74c3c;
}

label.error {
  color: #e74c3c;
}

/*-----  End of Forms  ------*/

/*====================================
=            Glyphs Icons            =
====================================*/

/* font-face */
@font-face {
    font-family: 'ingresse_font_iconregular';
    src: url('fonts/ingressefonticon-regular-webfont.eot');
    src: url('fonts/ingressefonticon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ingressefonticon-regular-webfont.woff') format('woff'),
         url('fonts/ingressefonticon-regular-webfont.ttf') format('truetype'),
         url('fonts/ingressefonticon-regular-webfont.svg#ingresse_font_iconregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* global icon styles */
[class*="icon-"] {
  display: inline-block;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;}

[class*="icon-"]:before {
  font-family: 'ingresse_font_iconregular';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  font}

/* icons */

.icon-arrow-left:before {
  content: "\003c";
}

.icon-arrow-right:before {
  content: "\003e";
}

.icon-barcode:before {
  content: "\0042";
}

.icon-calendar:before {
  content: "\0063";
}

.icon-cam:before {
  content: "\0043";
}

.icon-cash:before {
  content: "\0024";
}

.icon-checked:before {
  content: "\02a";
}

.icon-chrome:before {
  content: "\005b";
}

.icon-cloud:before {
  content: "\004e";
}

.icon-compass:before {
  content: "\006b";
}

.icon-computer:before {
  content: "\004b";
}

.icon-download:before {
  content: "\0064";
}

.icon-edit:before {
  content: "\0065";
}

.icon-exclamation:before {
  content: "\0021";
}

.icon-eye:before {
  content: "\0045";
}

.icon-facebook:before {
  content: "\003b";
}

.icon-firefox:before {
  content: "\005d";
}

.icon-flag:before {
  content: "\0066";
}

.icon-gift:before {
  content: "\0067";
}

.icon-group:before {
  content: "\0047";
}

.icon-hash:before {
  content: "\0023";
}

.icon-heart:before {
  content: "\0068";
}

.icon-ie:before {
  content: "\007b";
}

.icon-info:before {
  content: "\0069";
}

.icon-ingresse:before {
  content: "\0033";
}

.icon-instagram:before {
  content: "\003a";
}

.icon-mail:before {
  content: "\006d";
}

.icon-maintenance:before {
  content: "\0052";
}

.icon-mobile:before {
  content: "\0049";
}

.icon-move:before {
  content: "\004d";
}

.icon-oneclick:before {
  content: "\004f";
}

.icon-organizer:before {
  content: "\006f";
}

.icon-phone:before {
  content: "\0070";
}

.icon-pinterest:before {
  content: "\0022";
}

.icon-pin:before {
  content: "\0046";
}

.icon-plus:before {
  content: "\002b";
}

.icon-print:before {
  content: "\0050";
}

.icon-qrcode:before {
  content: "\0051";
}

.icon-redo:before {
  content: "\007a";
}

.icon-safari:before {
  content: "\007d";
}

.icon-search:before {
  content: "\0073";
}

.icon-settings:before {
  content: "\0053";
}

.icon-ticket:before {
  content: "\0074";
}

.icon-timezone:before {
  content: "\0054";
}

.icon-twitter:before {
  content: "\0027";
}

.icon-user:before {
  content: "\0075";
}

.icon-youtube:before {
  content: "\002c";
}

.icon-watch:before {
  content: "\0077";
}

/*-----  End of Glyphs Icons  ------*/