/* stylesheet information for Ingresse S.A.
File created date: 09.04.2013
Last modified date: 09.04.2013
By: Bissuh
*/

/* Table of Contents
- HOME
*/

/* =HOME */

.main-header {
	background: #3ca8e9;
	color: #fff;
}
.mh-title {
	font-size: 60px;
	font-style: italic;
	font-weight: bold;
	line-height: 0;
}
.mh-subtitle {
	font-size: 25px;
}
.mh-subheader {
	font-size: 20px;
	line-height: 1.4;
	font-weight: 300;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	text-align: center;
}
.api-feature, .signin {
	text-align: center;
}
.api-feature {
	padding: 20px 0;
}

.bg-header-text {
	background: url("../img/check-in-lindo.png") center -90px no-repeat;
}

.header-text {
	padding: 60px 0 200px;
	text-shadow: 1px 1px 1px #000;
}

/* References */

.ref-index {
	border-right: 1px solid #ccc;
}

.ref-article {
}