<div ng-controller="DeveloperGuideCtrl" class="row">
	<div class="venus column twelve panel references-pg">

		<!-- BEGIN - LEFT SIDEBAR: REFERENCES MENU -->
		<aside class="venus column four">
			<h6>Guia do Desenvolvedor</h6>
			<nav>
				<ul class="no-bullet">
					<li><a href="/developer-guide/auth">Autenticação</a></li>
				</ul>
			</nav>
		</aside>
		<!-- END - LEFT SIDEBAR: REFERENCES MENU -->

		<!-- BEGIN - CONTENT -->
		<div class="ref-article venus column eight" ng-include="developer-guide/auth.html"></div>
		<!-- END - CONTENT -->

	</div>
</div>
