<!-- Presentation header --
<div class="main-header">
	<div class="bg-header-text">
		<div class="header-text row">
			<div class="columns large-7">
				<h1 class="mh-title">INGRESSE API</h1>
				<span class="mh-subtitle">Agora você pode vender seus ingressos em seu aplicativo celular ou através do seu site.</span>
			</div>
		</div>
	</div>
</div>
<!-- end of Getting started -->

<!-- Second section -->
<div class="main-header">
	<div class="row">
		<div class="api-feature columns large-4">
			<img src="/img/personalizar.png" ><br/><br/>
			<span class="mh-subheader">Crie páginas personalizadas para a venda de seus ingressos.</span>
		</div>
		<div class="api-feature columns large-4">
			<img src="/img/compra.png" ><br/><br/>
			<span class="mh-subheader">Crie um aplicativo e permita seus clientes comprarem pelo celular.</span>
		</div>
		<div class="api-feature columns large-4">
			<img src="/img/validacao.png" ><br/><br/>
			<span class="mh-subheader">Venda no seu site, use nosso aplicativo para controlar a entrada.</span>
		</div>
	</div>
</div>
<!-- end of Second section -->

<!-- Fourth section -->
<div class="signin row large-5">
	<span class="mh-subheader">Interessado? Cadastre-se pelo link abaixo e iremos avisar quando a API estiver aberta.</span><br/><br/>
	<a class="button large green round" href="http://eepurl.com/In9rH">Inscrever na lista</a>
</div>
<!-- end of Fourth section -->