<!-- Presentation header -->
<div class="main-header">
	<div class="row">
		<div class="columns large-7">
			<h1 class="mh-title">INGRESSE API</h1>
			<span class="mh-subtitle">Agora você pode vender seus ingressos em seu aplicativo celular ou através do seu site.</span>
		</div>
		<div class="columns large-5">
			<a href="#" class="mh-gs-btn large button orange">Começar agora</a>
		</div>
	</div>
</div>
<!-- end of Getting started -->

<!-- Getting started -->
<section class="getting-started background-color light">
	<div class="row">
		<div class="large-3 columns">
			<span class="circle-icon">1</span>
			<p>Leia o <a href="#/guide">guia de desenvolvimento</a></p>
		</div>
		<div class="large-3 columns">
			<span class="circle-icon">2</span>
			<p>Pratique com um de nossos <a href="#/tutorials">tutoriais</a></p>
		</div>
		<div class="large-3 columns">
			<span class="circle-icon">3</span>
			<p>Consulte as nossas <a href="#/references">chamadas da api</a></p>
		</div>
		<div class="large-3 columns">
			<span class="circle-icon">4</span>
			<p>Envie sua aplicação para <a href="#/showcase">nosso portfólio</a></p>
		</div>
	</div>
</section>
<!-- end of Getting started -->

<!-- Other related content -->
<div class="row" style="margin: 20px auto;">

	<div class="columns large-7">
		<div class="panel row">
			<img class="feat-img-left" src="http://placehold.it/150x100" />
			<h4>Pretty Guide</h4>
			<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
			<hr/>
			<img class="feat-img-left" src="http://placehold.it/150x100" />
			<h4>Showcase</h4>
			<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
		</div>
	</div>

	<div class="columns large-4 large-offset-1">
		<div class="row panel">
			<h4>Pretty Guide</h4>
			<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
</div>