<div ng-controller="ReferencesCtrl" class="row">

	<div class="columns large-12 panel references-pg">

		<!-- BEGIN - LEFT SIDEBAR: REFERENCES MENU -->
		<aside class="columns large-3">
			<h6>Referências</h6>
			<nav ng-controller="ReferencesMenuCtrl">
				<ul class="no-bullet">
					<li ng-repeat="reference in references | orderBy:'name':false">
						<a ng-click="setItem(reference.id)">{{reference.name}}</a>
						<ul class="square">
							<li class="reference-link" ng-repeat="method in reference.methods | orderBy:'name':false">
								<a ng-click="setItem(reference.id, method.id)">{{method.name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</aside>
		<!-- END - LEFT SIDEBAR: REFERENCES MENU -->

		<!-- BEGIN - CONTENT -->
		<div class="ref-article columns large-9">

			<ul class="breadcrumbs">
				<li><a href="#/references">References</a></li>
				<li>{{category.title}}</li>
			</ul>
			<ANY ng-switch="referenceTemplate">

				<!-- THERE IS NO SELECTED METHOD -->
				<article ng-switch-when="null">
					<header>
						<h2>References</h2>
						<p class="subheader">Aqui você irá encontrar o que é necessário para entender como integrar a sua aplicação ou site, com o sistema Ingresse.</p>
					</header>
					<section>
						<p>Ao lado está listado o conjunto de métodos e entidades que o sistema de integração da Ingresse dispõe. Abaixo estão alguns links úteis, caso esteja começando agora:</p>
						<div class="columns large-12">
							<ul class="disc">
								<li>Como adquirir uma chave de desenvolvedor?</li>
								<li>O que é preciso para vender ingressos usando a API?</li>
							</ul>
						</div>
					</section>
				</article>

				<!-- FOR A SELECTED ENTITY -->
				<article ng-switch-when="category">
					<header>
						<h2>{{category.title}}</h2>
						<p class="subheader">{{category.description}}</p>
					</header>
					<section>
						<h3>Objeto</h3>
						<pre ng-bind="category.entity | json"></pre>
					</section>
					<section>
						<h3>Métodos</h3>
						<ul>
							<li ng-repeat="method in category.methods | orderBy:'name':false">
								<a ng-click="setItem(category.id, method.id)">{{method.name}}</a>
							</li>
						</ul>
					</section>
				</article>

				<!-- FOR A SELECTED METHOD -->
				<article ng-switch-when="method">
					<any ng-repeat="method in category.methods | filter:{id: methodId}">
						<header>
							<h2>{{method.name}}</h2>
							<span>{{method.type}} - {{url}}{{method.url}}</span>
							<p class="subheader">{{method.action}}</p>
						</header>
						<h3>Parâmetros</h3>
						<table>
							<tr>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Valor padrão</th>
								<th>Descrição</th>
								<th>Exemplo</th>
							</tr>
							<tr ng-repeat="param in method.params">
								<td>{{param.name}}</td>
								<td>{{param.type}}</td>
								<td>{{param.default}}</td>
								<td>{{param.description}}</td>
								<td>{{param.example}}</td>
							</tr>
						</table>
						<h3>Resposta da chamada</h3>
						<pre ng-bind="method.answer | json"></pre>
						<h3>Exemplos de uso</h3>
						<p ng-repeat="example in method.examples">
							<kbd>{{example.request}}</kbd><br/>
							{{example.description}}
						</p>
					</any>
				</article>

				<section class="disqus-block">
					<div disqus="disqusIdentifier"></div>
				</section>
			</ANY>
		</div>
		<!-- END - CONTENT -->
	</div>
</div>
