<div class="row">
	<ul class="breadcrumbs large-12">
		<li><a href="#/references">Referências</a></li>
	</ul>
	<div class="panel large-12" style="height: 800px;">
		<div class="columns large-3">
			<h6>Referências</h6>
			<nav>
				<ul>
					<li ng-repeat="reference in references">
						<a href="#/references/{{reference.id}}">{{reference.name}}</a>
						<ul>
							<li ng-repeat="method in reference.methods">
								<a href="#/references/{{reference.id}}/{{method.id}}">{{method.name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="ref-article columns large-9">
			<ANY ng-switch="viewContent">
				<article ng-switch-when="entity">
					<header>
						<h2>{{category.title}}</h2>
						<p class="subheader">{{category.description}}</p>
					</header>
					<section>
						<h3>Objeto</h3>
						<code>{{category.entity}}</code>
					</section>
					<section>
						<h3>Métodos</h3>
						Lista de métodos
					</section>
				</article>
				<article ng-switch-when="method">
					<any ng-repeat="method in category.methods | filter:selectedMethod">
						<header>
							<h2>{{method.name}}</h2>
							<span>{{method.type}} - {{url}}{{method.url}}</span>
							<p class="subheader">{{method.action}}</p>
						</header>
						<h3>Parâmetros</h3>
						<table>
							<tr>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Valor padrão</th>
								<th>Descrição</th>
							</tr>
							<tr ng-repeat="param in method.params">
								<td>{{param.name}}</td>
								<td>{{param.type}}</td>
								<td>{{param.description}}</td>
								<td>{{param.type}}</td>
							</tr>
						</table>
						<h3>Exemplos de uso</h3>
						<p ng-repeat="example in method.examples">
							<span>{{example.request}}</span><br/>
							{{example.description}}
						</p>
					</any>
				</article>
			</ANY>
		</div>
	</div>
</div>
